{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

<title>Registro Toner Oficina Principal</title>

<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    label {
        display: block; 
        margin-bottom: 8px; 
    }

    select {
        width: 100%; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        box-sizing: border-box; 
        font-size: 16px; 
        
    }

    option {
        padding: 10px;   
    }

    form {
        width: 50vh;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    form label {
        display: block;
        margin-bottom: 8px;
    }

    form input[type="text"],
    form input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    form button {
        background-color: #21a4d8;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
    }

    form button:hover {
        background-color: #0056b3;
    }
</style>

<div class="form-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 style="text-align: center;">Registro Toner Oficina Principal</h2>
        <br>    

        {{ form.as_p }}

        <button type="submit">Agregar</button>
    </form>
</div>

{% endblock %}



